/* -------------------------------- grid ----------------------- */
.grid-container {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 100px 150px 150px;
    grid-row-gap: 50px;
    justify-content: center;
}

.grid-item{
    justify-self: center;
}

#item-1{
    grid-area: 1 / 1 / 2 / 2;
}
#item-2{
    grid-area: 2 / 1 / 3 / 2;
}
#item-3{
    grid-area: 3 / 1 / 4 / 2;
}
