/* -------------------------------- grid ----------------------- */
.grid-container-index {
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: 100px 800px;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    justify-content: center;
}

.grid-item{
    justify-self: center;
}

#item-1{
    grid-area: 1 / 1 / 2 / 3;
}
#item-2{
    grid-area: 2 / 1 / 3 / 2;
}
#item-3{
    grid-area: 2 / 2 / 3 / 3;
}