/* -------------------------------- grid main ----------------------- */
.grid-container-main{
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto 150px 150px;
    grid-row-gap: 50px;
    justify-content: center;
}
.grid-item{
    justify-self: center;
}
/* logo */
#item-1{
    /*grid-row-start: 1;*/
    /*grid-column-start: 1;*/
    /*grid-row-end: 2;*/
    /*grid-column-end: 2;*/
    grid-area: 1 / 1 / 2 / 2;
}
/* opret brugger */
#item-2{
    /*grid-row-start: 2;*/
    /*grid-column-start: 1;*/
    /*grid-row-end: 3;*/
    /*grid-column-end: 2;*/
    grid-area: 2 / 1 / 3 / 2;
    width: 183px;
}
/* log in */
#item-3{
    /*grid-row-start: 3;*/
    /*grid-column-start: 1;*/
    /*grid-row-end: 4;*/
    /*grid-column-end: 2;*/
    grid-area: 3 / 1 / 4 / 2;
    width: 183px;
}
