/* -------------------------------- grid ----------------------- */
.grid-container-main {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 50px 100px 100px auto 50px;
    grid-row-gap: 10px;
    justify-content: center;
}
/* tilbage knap */
#item-1{
    grid-area: 1 / 1 / 2 / 2;
}
/* knapper */
#item-2{
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
}
/* vis projekt */
#item-3{
    grid-area: 3 / 1 / 4 / 2;
    justify-self: center;
}
/* delopgaver */
#item-4{
    grid-area: 4 / 1 / 5 / 2;
    justify-self: center;
    width: 100%;
}
/* slet knap */
#item-5{
    grid-area: 5 / 1 / 6 / 2;
    justify-self: right;
    align-self: end;
}
/* -------------------------------- item 3 (vis projekt) ----------------------- */
.grid-container-show-project{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px;
    justify-content: center;
}
/* overskrift */
#show-project-item-1{
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
}
/* oprettelses- navn og dato */
#show-project-item-2{
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
}
/* -------------------------------- item 4 (delopgaver) ----------------------- */
.grid-container-tasks{
    display: grid;
    grid-template-columns: 100%;
    /*grid-template-rows: ;*/
    justify-content: center;
}
#tasks-item-1{
    /*grid-area:;*/
    /*justify-self: ;*/
}
/* -------------------------------- liste ----------------------- */
ul li{
    display: inline;
}
li{
    float:left;
    padding-right: 30px;
}
/* -------------------------------- table ----------------------- */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px 5px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}