/* -------------------------------- grid ----------------------- */
.grid-container {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 50px 100px auto 50px;
    grid-row-gap: 10px;
    justify-content: center;
}

ul li{
    display: inline;
}
li{
    float:left;
    padding-right: 30px;
}

#item-1{
    /*tilbage knap*/
    grid-area: 1 / 1 / 2 / 2;
}
#item-2{
    /*knapper*/
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
}
#item-3{
    /*projekt + opgaver*/
    grid-area: 3 / 1 / 4 / 2;
    justify-self: center;
}
#item-4{
    /*slet knap*/
    grid-area: 4 / 1 / 5 / 2;
    justify-self: right;
    align-self: end;
}

/* -------------------------------- table ----------------------- */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
