<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form id="createUser" action="/createUser" method="post" enctype="multipart/form-data">
        <label>
            <input type="text" name="createUsername" placeholder="Write username...">
        </label>
        <label>
            <input type="text" name="createPassword" placeholder="Write password...">
        </label>
        <button type="submit" class="button">Create User</button>
    </form>
</div>

<div>
    <form id="login" action="/login" method="post" enctype="multipart/form-data">
        <input type="text" name="loginUsername" placeholder="Username...">
        <input type="text" name="loginPassword" placeholder="Password...">
        <button type="submit" class="button">Login</button>
    </form>
</div>

</body>
</html>