<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style_index.css">
    <title>Index</title>
</head>

<body>

    <div  class="grid-container-index">
        <!-- banner/logo -->
        <div class="grid-item" id="item-1">

        </div>

        <!-- opret bruger -->
        <div class="grid-item" id="item-2">
            <form id="createUser" action="/createUser" method="post" enctype="multipart/form-data">
                <label>
                    <input type="text" name="createUsername" placeholder="Username..." required>
                </label> <br>
                <label>
                    <input type="text" name="createPassword" placeholder="Password..." required>
                </label> <br>
                <button type="submit" class="button">Create User</button>
            </form>
        </div>

        <!-- login -->
        <div class="grid-item" id="item-3">
            <form id="login" action="/login" method="post" enctype="multipart/form-data">
                <label>
                    <input type="text" name="inputUsername" placeholder="Username..." required>
                </label> <br>
                <label>
                    <input type="text" name="inputPassword" placeholder="Password..." required>
                </label> <br>
                <button type="submit" class="button">Log In</button>
            </form>
        </div>

    </div>

</body>
</html>