<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <h4>My Projects</h4>
        <th:block th:each="Project : ${projectList}">
            <form action="/project" method="post">
                <p th:text="${Project.getProjectID()}"></p>
                <p th:text="${Project.getProjectName()}"></p>
                <p th:text="${Project.getProjectCreatedDate()}"></p>
                <button type="submit" th:value="${Project.getProjectID()}" name="seeProject">See this project</button>
            </form>
        </th:block>
    </table>

</body>
</html>