<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link th:href="@{/css/main.css}" href="../static/css/main.css" rel="stylesheet">
    <title>Elegantt</title>
</head>
<body>

    <div  class="grid-container-main">
        <!-- log ud knap -->
        <div class="grid-item" id="item-1">
            <form action="/logout" method="post">
                <button type="submit">Log Out</button>
            </form>
        </div>

        <!-- banner/logo -->
        <div class="grid-item" id="item-2">
            <img th:src="@{/img/logo.png}" alt="logo">
        </div>

        <!-- opret projekt knap -->
        <div class="grid-item" id="item-3">
            <form id="createProject" action="/project/create" method="post" enctype="multipart/form-data">
                <label>Project Name:<br><input type="text" name="projectName" placeholder="Project name" required> </label><br><br>
                <label>End Date:<br><input type="date" id="endDate" name="endDate" required> </label><br><br>
                <button type="submit">Create project!</button>
            </form>

            <!-- fejlbesked -->
            <div class="errorMessage" th:style="${errorMessage ? 'display:none' : 'display:block'}" >
                <h2>End date is earlier than start day</h2>
            </div>
        </div>

        <!-- mine projekter liste -->
        <div class="grid-item" id="item-4">
            <h3>Your projects</h3>
            <div th:each="Project : ${myProjectList}">
                <p th:text="${Project.getProjectName()}"></p>
                <p th:text="${Project.getProjectCreatedDate()}"></p>
                <p th:text="${Project.getEndDate()}"></p>
                <form action="/project/get" method="post">
                    <button type="submit" name="projectID" th:value="${Project.getProjectID()}">View project</button> <br>
                </form><br>
            </div>
         </div>

        <!-- liste over projekter der er delt med mig -->
        <div class="grid-item" id="item-5">
            <h3>Shared projects</h3>
            <div th:each="Project : ${sharedProjectList}">
                <p th:text="${Project.getProjectName()}"></p>
                <p th:text="${Project.getProjectCreatedDate()}"></p>
                <p th:text="${Project.getEndDate()}"></p>
                <p th:text="${Project.getCreatedByString()}"></p>
                <form action="/project/get" method="post">
                    <button type="submit" name="projectID" th:value="${Project.getProjectID()}">View project</button> <br>
                </form><br>
            </div>
        </div>
  </div>

</body>
</html>
