<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- css link virker ikke -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style_project.css">
    <title>Project</title>
</head>
<body>

<div  class="grid-container-index">
    <!-- banner/logo -->
    <div class="grid-item" id="item-1">
        <h1>logo</h1>
    </div>

    <!-- opret bruger -->
    <div class="grid-item" id="item-2">
        <p>ahjwjgdahkwd</p>
    </div>

    <!-- login -->
    <div class="grid-item" id="item-3">
        <p>ahjwjgdahkwd</p>
    </div>

</div>

</body>
</html>