<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link th:href="@{/css/project.css}" href="../static/css/project.css" rel="stylesheet">
    <title>Project</title>
</head>
<body>

    <div  class="grid-container">

        <!-- tilbage knap -->
        <div class="grid-item" id="item-1">
            <form action="/backtomain" method="post">
                <button type="submit">Back to main menu</button>
            </form>
        </div>

        <!-- del projekt, se projekt og generer gantt diagram knapper -->
        <div class="grid-item" id="item-2">
            <ul>
                <li><p>del projekt knap</p></li>
                <li><p>se projekt team knap</p></li>
                <li><p>generer gantt diagram knap</p></li>
            </ul>
        </div>

        <!-- main -->
        <div class="grid-item" id="item-3">
            <!-- single projekt virker ikke -->
            <div th:each="Project : ${singleProject}">
                <form action="/getproject" method="post">
                    <label th:text="${Project.getProjectName()}"></label>
                </form>
            </div>
            <div>
                <form id="createTask" action="/createTask" method="post" enctype="multipart/form-data">
                    <label>Create a project</label><br>
                    <input type="text" name="taskName" placeholder="Task Name"><br>
                    <button type="submit">Create task!</button>
                    <label for="endDate">End Date: </label>
                    <input type="date" id="endDate" name="endDate" >
                </form>
            </div>
        </div>

        <!-- slet knap -->
        <div class="grid-item" id="item-4">
            <!-- slet knap virker ikke -->
              <form action="/project/delete" method="post">
                <button type="submit" name="deleteProject" th:value="${Project.getProjectID()}">Delete project</button>
              </form>
        </div>

    </div>
    </div>
</body>
</html>
