<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link th:href="@{/css/project.css}" href="../static/css/project.css" rel="stylesheet">
    <title>Project</title>
</head>
<body>

    <div  class="grid-container">

        <!-- tilbage knap -->
        <div class="grid-item" id="item-1">
            <form action="/backtomain" method="post">
                <button type="submit">Back to main menu</button>
            </form>
        </div>

        <!-- del projekt, se projekt og generer gantt diagram knapper -->
        <div class="grid-item" id="item-2">
            <ul>
                <li><p>del projekt knap</p></li>
                <li><p>se projekt team knap</p></li>
                <li><p>generer gantt diagram knap</p></li>
            </ul>
        </div>

        <table style="width:100%">
            <tr>
                <th>taskID</th>
                <th>taskName</th>
                <th>startDate</th>
                <th>endDate</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

    </div>

</body>
</html>